* {
  box-sizing: border-box;
  text-align: center;
}
body{
	background-color: grey;
}
header{
	height:83px;
	width: 100%;
	margin:0 auto;
	position: relative;
	background-color: #ffffff;
	border-bottom: solid #cccccc;
}
.yourName{
	background: #4aaaa5;
	width: 197px;
	height: 70px;
	margin-left: 126px;
	margin-right: 353px;
	margin-top: 10px;
	font: 22px Georgia, Times, Times New Roman, serif;
	position: absolute;
	color: white;
	font-weight: bold;
	padding-top: 25px;
	float: left;
}
table{
	position: absolute;
	float: left;
	width: 221px;
	height:83px;
	margin-left: 743px;
	margin-right: 900px;
	margin-top: 34px;
	font: 18px 'Arial','Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}
.contentBox{
	clear: both;
	float: left;
	width: 567px;
	height: 384px;
	background-color: #ffffff;
	border: solid 2px #dddddd;
	margin-left: 126px;
	margin-top: 30px;
}
.contentHeader{
	float: left;
	width: 507px;
	height: 82px;
	font-family: Georgia, Times, Times New Roman, serif;
	color:  #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	border-bottom: solid #dddddd;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 30px;
	padding-right: 380px;
}
.profileImage{
	float: left;
	margin: 25px 20px 15px 30px;
	height:120px;
	width: 163px;
}

.bio{
	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 105px;
	text-align: left;
	margin-left: 30px;
}

#contactBox{
	height: 558px;
}
#contactHeader{
	padding-right: 400px;
}

.nameFormHeader{
	float: left;
	font: 20px 'Arial','Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-left: 30px;
	margin-top: 25px;
}
.nameForm{
	clear: both;
	float: left;
	width: 507px;
	height: 30px;
	margin-left: 30px;
	margin-top: 5px;
	text-align: left;
	color: #777777;
	padding-left: 5px;
	font-size: 12px;
}
#message{
	height: 184px;
}
.submitButton{
	clear: both;
	float: left;
	width: 107px;
	height: 37px;
	margin-left: 30px;
	margin-top: 15px;
	background-color: #4aaaa5;
	font: 20px 'Arial','Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	border: none;
}
#portfolioBox{
	height: 747px;
}
.portfolioPictures{
	clear: all;
	float: left;
	margin-left: 30px;
	margin-top: 25px;
	position: relative;
}
.leftLabel{
	float: left;
	margin-left: 30px;
	margin-top: 230px;
	position: absolute;
	width: 240px;
	height: 50px;
	background-color: #4aaaa5;
	color: #ffffff;
	font: 20px Georgia, Times, Times New Roman, serif; 
	padding-top: 15px;
}
.rightLabel{
	float:left;
	position: absolute;
	margin-left: 300px;
	margin-top: 230px;
	width: 240px;
	height: 50px;
	background-color: #4aaaa5;
	color: #ffffff;
	font: 20px Georgia, Times, Times New Roman, serif; 
	padding-top: 15px;
}
#trivia{
	margin-top: 435px;
}
#rockPaper{
	margin-top: 640px;
}

.sideBar{
	clear: all;
	float: left;
	position: absolute;
	width: 217px;
	height: 163px;
	margin-left: 743px;
	margin-top: 30px;
	background-color: #ffffff;
	border:solid 2px #dddddd; 
}
.connectHeader{
	color: #4aaaa5;
	font-family: Georgia, Times, Times New Roman, serif;
	width: 165px;
	height: 57px;
	border-bottom: solid 1px #dddddd;
	margin-left: 26px;
	font-weight: bold;
	font-size: 17px;
	padding-top: 20px;
}
.icon{
	width: 50px;
	height:50px;
	margin-top: 20px;
}
footer{
	position:absolute;
	height:78px;
	width: 100%;
	margin:0 auto;
	background-color: #666666;
	margin-top: 444px;
	border-top: solid 5px #4aaaa5;
}
.copyrightText{
	color: grey;
	font: 10px 'Arial','Helvetica Neue', Helvetica, sans-serif;
	padding-top: 34px;
}
#footerContact{
	margin-top: 618px;
}
#footerPortfolio{
	margin-top: 807px;
}
